/* CSS Document */
/*头部*/
html body {
	margin: 0;
	font-size: 10px;
	font-family: sans-serif;
}
header {
	background: url(images/Background.png);
	width:100%;
	height: 1000px;
	text-align: center;
	
}
#head h1 {
	font-size:7em;
	margin:0 auto;
	padding:100px 0 70px 0;
	font-weight:100;
	color:#BEBEBE;
}
#head>p {
	width:1050px;
	font-size:3em;
	margin:0 auto;
	padding-bottom:100px;
	color:#BEBEBE;
	font-weight:100;
}
#account {
	width:1200px;
	height: 200px;
	border: 1px solid  #ADADAD;
	margin: 0 auto;
}
#account p {
	margin: 40px auto;
	font-size:2em;
	color:#AAA4A4;
	letter-spacing: 2px;
}
#account span {
	font-size:0.6em;
}
#account input {
	padding: 8px;
	width: 250px;
	margin: 0 20px;
	height: 30px;
}
#account button {
	width: 150px;
	height: 50px;
	cursor: pointer;
}
/*内容section_one*/
#section_one {
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}
#arctle img {
	float:left;
	margin-right:20px;
}
#arctle p {
	text-align: left;
	margin-top: 0;
	line-height:15px;
	font-size:15px;
	display:inline-block;
	width:300px;	
}
.balock {
	display: inline-block;
	margin: 30px 80px 30px 80px;
}
#arctle span {
	font-weight:bold;
	font-size:1.5em;
	padding-bottom: 10px;
	display: block;
}
#section_one h2 {
	font-weight:100;
	padding:60px 0 40px 0;
	margin: 0 auto;
}
#section_one>p {
	font-size:3em;
	width: 560px;
	margin: 0 auto;
	color: #807B7B;
	margin-bottom:50px;
}
	
	

	

	
	
	
	



