/* CSS Document */
/*头部*/
html body {
	margin: 0;
	font-size: 10px;
	font-family: sans-serif;
}
header {
	background: url(images/Background.png);
	width:100%;
	height: 1000px;
	text-align: center;
	
}
#head h1 {
	font-size:7em;
	margin:0 auto;
	padding:100px 0 70px 0;
	font-weight:100;
	color:#BEBEBE;
}
#head>p {
	width:1050px;
	font-size:3em;
	margin:0 auto;
	padding-bottom:100px;
	color:#BEBEBE;
	font-weight:100;
}
#account {
	width:1200px;
	height: 200px;
	border: 1px solid  #ADADAD;
	margin: 0 auto;
}
#account p {
	margin: 40px auto;
	font-size:2em;
	color:#AAA4A4;
	letter-spacing: 2px;
}
#account span {
	font-size:0.6em;
}
#account input {
	padding: 8px;
	width: 250px;
	margin: 0 20px;
	height: 30px;
}
#account button {
	width: 150px;
	height: 50px;
	cursor: pointer;
}
/*内容section_one*/
#section_one {
	width: 960px;
	text-align: center;
	margin: 0 auto;
}
#arctle img {
	float:left;
}
#arctle p {
	display: block;
	
}
.balock {
	display: inline-table;
	margin: 30px 100px 30px 0;
}
	
	
	
	



